body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.state-done {
    color: green;
}

.state-pending {
    color: red;
}

/* .main-content-container {

} */

.strikethrough {
    text-decoration: line-through;
    color: gray; /* Optional: Change the color for better visibility */
}