:root {
  --color-primary: #269fe6;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: "Roboto Slab", serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

/* General */
body {
  font-family: "Consolas", "Courier New", Courier, monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 1;
}

.content-container {
  width: 75%;
}

h1 {
  text-align: center;
  color: #333;
}

/* Header */
.main-header {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1px 5px;
}

.main-header-container {
  background: var(--color-primary-dark);
}

.main-logo {
  font-size: 3rem;
  color: var(--color-white);
  text-decoration: none;
}

.main-header h1 {
  margin-bottom: 0;
}

.header-buttons-container {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.header-button {
  font-family: "Consolas", "Courier New", Courier, monospace;
  color: var(--color-white);
  text-decoration: none;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 0 1rem 0.2rem 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border-left: 1px solid #ccc;
}

.header-button:hover {
  background-color: transparent;
  cursor: pointer;
}

/* Add todo */
.todo-input-container {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.todo-input-container form {
  width: 75%;
}

.todo-input-form {
  border: 0.2rem solid var(--color-primary-dark);
  max-width: 64rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  position: relative;
  transition: all 300ms ease-in-out;
}

.todo-input-input,
.todo-input-button {
  border: none;
  background: none;
  outline: none;
  padding: 0.5rem;
  transition: all 300ms ease-in-out;
}

.todo-input-input {
  width: 100%;
  padding-right: 3rem;
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-size: 16px;
}

.todo-input-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.todo-input-button:active {
  background-color: rgba(144, 238, 144, 0.5);
}

.todo-input-button i {
  font-size: 20px;
}

/* Todo table */
.todo-table {
  width: 100%;
  table-layout: fixed;
  border: 2px solid #ccc;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.todo-table-head {
  display: none;
}

.todo-table th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

.todo-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-table th {
  background-color: #f2f2f2;
}

.todo-table tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
  color: #d4a5a5;
}

/* Set specific widths for each column */
.todo-table-column-title {
  width: 70%;
}

.todo-table-column-date {
  width: 20%;
}

.todo-table-column-edit,
.todo-table-column-delete {
  width: 5%;
}

.trash-table-column-title {
  width: 60%;
}

.trash-table-column-date {
  width: 30%;
}

.trash-table-column-options {
  width: 10%;
}

/* Messages */
.messages-containe {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-gutter-medium) / 2);
}

.message {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-alert {
  border: 1px solid var(--color-alert-dark);
  background: var(--color-alert-light);
  color: var(--color-alert-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

/* forms */
.form-container {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-container form {
  width: 100%;
}

.main-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 0 auto;
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
  padding: 10px;
  font-family: "Consolas", monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.help-text {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

.form-group .errorlist {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

.form-button-container {
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
}

.form-container button {
  background-color: #37474f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content button {
  background-color: #37474f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* footer */
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-dark);
  color: var(--color-white);
  padding: 2.5rem;
}

.main-footer a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  filter: brightness(0.8);
}

/* Generics */
.center {
  text-align: center;
}

/* Responsive styling for small screens */
@media (max-width: 600px) {
  .main-form {
    padding: 15px;
  }

  .form-group label {
    font-size: 13px;
  }

  .form-content-grid {
    grid-template-columns: 1fr;
  }
}
