<div class="content-container">
  {% if todos %}
  <table class="todo-table">
    <thead class = "todo-table-head">
      <tr>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      {% for todo in todos%}
      <tr
        class="{% if todo.state == 'done' %}strikethrough{% endif %}"
        onclick="submitForm({{ todo.id }}, '{% if todo.state != 'done' %}done{% else %}todo{% endif %}', {{todos.number}})"
      >
        <td class = "todo-table-column-title">{{ todo.title }}</td>
        <td class = "todo-table-column-date">{{ todo.created_at|date:"Y-m-d H:i"  }}</td>
        <td class = "todo-table-column-edit">
          <button
            class="open-modal"
            style=" cursor: pointer"
            title = "Edit todo"
            data-id="{{ todo.id }}"
            data-title="{{ todo.title }}"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td class = "todo-table-column-delete">
          <form action="{% url 'todo:trash_todo' %}" method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ todo.id }}" />
            <input type="hidden" name="page" value="{{ todos.number }}" />
            <button type="submit" style=" cursor: pointer" title= "Move to Trash">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form id="todo-form" action="{% url 'todo:update_state' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" id="todo-id" />
    <input type="hidden" name="state" id="todo-state" />
    <input type="hidden" name="page" id="todo-page" />
  </form>

  {% else %}

  <div>
    <h1>No Todos Found</h1>
    <p style="text-align: center">
      It looks like you haven't added any tasks yet. Start by creating a new
      todo!
    </p>
  </div>

  {% endif %}
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Edit your todo...</h2>
    <form action="{% url 'todo:update_title' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" id="modal-todo-id" />
      <input type="hidden" name="page" value="{{ todos.number }}" />
      <div class="form-group">
        <input
          type="text"
          name="title"
          id="modal-todo-title"
          maxlength="50"
          required
        />
      </div>
      <div class="form-button-container">
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
</div>