<div class="content-container">
  {% if todos %}
  <table class="todo-table">
    <thead>
      <tr>
        <th class="trash-table-column-title">Title</th>
        <th class="trash-table-column-date">Excluded at</th>
        <th class="trash-table-column-options"></th>
      </tr>
    </thead>

    <tbody>
      {% for todo in todos%}
      <tr>
        <td class="trash-table-column-title">{{ todo.title }}</td>
        <td class="trash-table-column-date">
          {{ todo.updated_at|date:"Y-m-d H:i" }}
        </td>
        <td class="trash-table-column-options">
          <div style="display: flex; gap: 10px">
            <form action="{% url 'todo:trash_todo' %}" method="post" novalidate>
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ todo.id }}" />
              <input type="hidden" name="page" value="{{ todos.number }}" />
              <button
                type="submit"
                style="cursor: pointer"
                title="Restore Todo"
              >
                <i class="fa-solid fa-recycle"></i>
              </button>
            </form>
            <form
              action="{% url 'todo:delete_todo' %}"
              method="post"
              class="delete-todo"
              novalidate
            >
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ todo.id }}" />
              <input type="hidden" name="page" value="{{ todos.number }}" />
              <button type="submit" style="cursor: pointer" title="Delete Todo">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form id="todo-form" action="{% url 'todo:update_state' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" id="todo-id" />
    <input type="hidden" name="state" id="todo-state" />
  </form>

  {% else %}

  <div>
    <h1>No Todos Found</h1>
  </div>

  {% endif %}
</div>
