{% extends "global/base.html" %}


{% block title %}My Todos | {% endblock title %}

{% block content %}

    <div>

        {% include 'todo/partials/todo_table.html' %}

        <form action="{% url 'todo:create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}

                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {{ field.errors }}

                {% endfor %}
            </div>

            <input type="hidden" name="username" value="{{ request.user.username }}">

            <button type="submit">Send</button>
        </form>

    </div>
{% endblock content %}

